/* Reset CSS  */
*{
  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
1. Từ ngoài vào trong
2. Từ trên xuống dưới
3. Tổng quan đến chi tiết
 */
/* 
1. Vi tri
2. kich thuoc
3. Mau sac
4. Kieu dang ( kiểu chữ)
 */
.text-white{
    color: white !important;
}
 .clear{
    clear: both;

}
html {
    font-family: Arial, sans-serif;
}

#main{

}
#nav{
    display: inline-block;
}
#nav .ti-angle-down {
    font-size: 13px;
    
}
#nav, .subnav{
    list-style-type: none;
}


#header{
 /* Width = main    
    Height = check
     */
    right: 0;
    left: 0;
    top: 0;
    height: 46px;
    background-color: black;
    position: fixed;
    z-index: 1;

/* Ngoài xong  */
}
#nav{
    display: inline-block;

}
#nav .subnav{
    min-width: 160px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#nav .subnav a {
    color: #000;
    padding: 0 12px; 
    line-height: 38px;
    
}

#nav > li{
    display: inline-block
}
#nav > li > a {
    color: white;
    text-transform: uppercase;
}


#nav > li:hover > a { 
    color: black; ;
    background-color: white;
   
}
#nav .subnav li:hover a{
    color: white;
    background-color: black;
    text-decoration-style: none;

}

#nav li{
    position: relative;
}
#nav li:hover .subnav {
    display: block;
}

#header .ti-search {
    color: white;
    font-size: 20px;
    line-height: 46px;

}
#header .search-btn{
    float: right;
    padding: 0 21px;
    
    
}

#header .search-btn:hover{
    background-color: orange;
    cursor: pointer;
}



#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;

}
#slider{
    min-height: 500px;
    margin-top: 46px;
    background: url('/assets/img/bg-img.jpeg') no-repeat center center;
    position: relative;
    background-size: cover;
}

#slider .text-content{
    width: 100%;
    position: absolute;
    bottom: 47px;
    color: white;
    /* left: 50%;
    transform: translate(-50%);
    text-align: center; */
    text-align: center;
  

}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;

}
#slider .text-description{
    margin-top: 25px;

    font-size: 15px;
    
}
#content{


}

#content .content-section{
   width: 700px;
   padding: 64px 0;  
   margin-left: auto;
   margin-right: auto;
   

}
#content .section-heading{
    font-size: 30px;    
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}
#content .section-sub-heading{
    font-size:15px;
    text-align:center;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .section-heading{
    text-align: center;
}
#content .about-text{
    text-align: justify;
    margin-top: 25px;
    font-size: 15px;
    line-height: 1.4;
    
}
#content .members-list{
    margin-top: 48px;
    overflow: hidden;
}
#content .member-item {
    float: left;
    width: 33.333333%;
}
#content .member-name{
    width: 210px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    
}
.member-item .member-img{
    width: 210px;
    height: 250px;
    display: block;
    border-radius: 10px;
}

#content .member .tag{
    width: 250px;
    height:200px;
}
.tour-section{
    background-color: black;
    
    
}
.tour-dates {
    background-color: white;
    margin-top: 40px;
}
.tour-dates li{
    color: grey;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
}
.tour-dates .sold-out {
    background-color: red;
    color: white;
    padding: 3px 4px;
    margin-left: 16px;
}
.tour-dates .quantity{
    width : 24px;
    height: 24px;
    background-color: #000;
    color: white;
    text-align: center;
    float: right;
    border-radius: 50%;
    line-height: 24px;
    margin-top: -4px;
}
.tour-section .place-img{
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 10px;
}
.tour-section .place li {
    float: left;
    width: 33.333333%;
}




/*
.tour-section .content-section{
    color: white;
    max-width: 800px;
    padding: 64px 16px;
    margin: 283px 0;
    box-sizing: border-box;
}
.tour-section .tour-dates{
    background-color: white;
    height: 117.500px;
    width: 768px;
    margin: 30px;   
    border: 1px;
    line-height: 1.5;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
    font-weight: lighter;
}
.tour-dates {
    width: 766px;
    border: 1px ;

}
.tour-dates .tour-item{
    display: list-item;
    padding: 10px 20px;
    color: black;
    border: thin black solid ;
    font-size: 15px;
    text-align: left;
    box-sizing: inherit;
    line-height: auto;
  
}

.tour-dates .Display:hover {
    color: white;
    background-color: red;
    opacity: none;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    
}
.tour-dates .Display{
    box-sizing: inherit;  
    padding: 12px;  
} */
#footer{

}